apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: custom-namespace
resources:
  - custom-namespace-ns.yaml
  - https://github.com/SDA-SE/mongodb-operator//kustomize/release/no-namespace?ref=1.0.54
secretGenerator:
  - name: mongodb-operator
    literals:
      - mongodbConnectionString=mongodb://user:s3cr3t@mongodb.mongodb:27017
