apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../bases/operator
images:
  - name: localhost:5000/mongodb-operator
    newName: quay.io/sdase/mongodb-operator
    newTag: 2.0.5
