apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/SDA-SE/mongodb-operator//kustomize/release?ref=1.0.5
secretGenerator:
  - name: mongodb-operator
    namespace: mongodb-operator
    literals:
      - mongodbConnectionString=mongodb://user:s3cr3t@mongodb.mongodb:27017
