name: Health ArgoCD Integration

# This workflow tests the Lua scripts for MongoDb health status in ArgoCD

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  integration-test:
    runs-on: ubuntu-latest

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1
        with:
          path: mongodb-operator
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1
        with:
          path: argocd
          repository: "argoproj/argo-cd"
      - uses: actions/setup-go@v5
        with:
          # match argocd version in https://github.com/argoproj/argo-cd/blob/master/go.mod
          go-version: '1.21'
      - name: Prepare
        run: |
          rm mongodb-operator/health/argocd/persistence.sda-se.com/MongoDb/health_test.lua
          cp -R mongodb-operator/health/argocd/persistence.sda-se.com argocd/resource_customizations
      - name: Verify
        run: |
          ls -alR argocd/resource_customizations/persistence.sda-se.com/MongoDb
          cat argocd/resource_customizations/persistence.sda-se.com/MongoDb/health.lua
          cat argocd/resource_customizations/persistence.sda-se.com/MongoDb/testdata/healthy.yaml
      - name: Test
        run: |
          cd argocd
          go test -v ./util/lua/
