name: Health ArgoCD Local

# This workflow tests the Lua scripts for MongoDb health status in ArgoCD

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - uses: leafo/gh-actions-lua@v12
      - uses: leafo/gh-actions-luarocks@v6
      - name: Test
        run: |
          luarocks --server=https://rocks.moonscript.org install lyaml
          lua health/argocd/persistence.sda-se.com/MongoDb/health_test.lua
