name: K8S Integration

# This test bootstraps a Kubernetes environment with Kubernetes in Docker [KinD],
# installs the MongoDB Operator and a MongoDB and then verifies that a database
# with user and password and a corresponding secret is created.

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: Setup environment
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 10
          retry_wait_seconds: 10
          warning_on_retry: false
          command: ./start.sh

      - name: Run tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 10
          retry_wait_seconds: 10
          warning_on_retry: false
          command: ./test.sh

      - name: Tear down environment
        uses: nick-fields/retry@v3
        if: "always()"
        with:
          timeout_minutes: 5
          max_attempts: 3
          retry_wait_seconds: 10
          warning_on_retry: false
          command: ./stop.sh
