name: Publish mkdocs
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  deploy:
    name: Build and publish docs
    runs-on: ubuntu-latest
    container:
      image: spotify/techdocs:v1.2.8
    steps:
      - run: apk --no-cache add git
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 1
      - run: git config --global --add safe.directory /__w/mongodb-operator/mongodb-operator
      - run: git config user.name 'github-actions[bot]' && git config user.email 'github-actions[bot]@users.noreply.github.com'
      - run: git fetch origin gh-pages
      - name: Dry run generated mkdocs
        if: github.event_name == 'pull_request'
        run: mkdocs build --config-file mkdocs.yml && ls -al
      - name: Archive test build
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: site
          path: |
            site
          retention-days: 1
      - name: Publish generated mkdocs
        if: github.event_name != 'pull_request'
        run: mkdocs gh-deploy --config-file mkdocs.yml