# This workflow pushes the PR build to quay.io
name: Publish PR

on:
  pull_request:

env:
  TAG: PR-${{ github.event.number }}

jobs:
  jib-push:
    # Don't run for forks and dependabot because of missing secrets
    if: "!(github.event.pull_request && github.event.pull_request.head.repo.fork) && github.actor != 'dependabot[bot]'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Set up Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: Build and Push
        env:
          USERNAME: ${{ secrets.QUAY_IO_USERNAME }}
          PASSWORD: ${{ secrets.QUAY_IO_PASSWORD }}
        run: >
          ./gradlew jib
          -Djib.to.auth.username=${USERNAME}
          -Djib.to.auth.password=${PASSWORD}
          -Djib.useOnlyProjectCache=true
          -Djib.console=plain
          -Djib.disableUpdateChecks=true
          -Djib.httpTimeout=0
          -Djib.container.creationTime=USE_CURRENT_TIMESTAMP
          -Djib.to.image=quay.io/sdase/mongodb-operator:${TAG}
