# This workflow checks the code style
name: Spotless

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  # check code style
  check:
    runs-on: ubuntu-latest

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: Run Spotless
        run: ./gradlew spotlessCheck
