# This workflow checks the code style
name: Spotless

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  # check code style
  check:
    runs-on: ubuntu-latest

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2

      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: Run Spotless
        run: ./gradlew spotlessCheck
