# This workflow checks the code style
name: Spotless

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  # check code style
  check:
    runs-on: ubuntu-latest

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - name: Set up JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: Run Spotless
        run: ./gradlew spotlessCheck
