# This workflow checks the documentation
name: TechDocs

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  publish-docs:
    name: Build and publish docs
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        site:
          - directory: ./
    container:
      image: spotify/techdocs:v1.2.8
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Check mkdocs
        run: mkdocs --verbose build --clean
        working-directory: ${{ matrix.site.directory }}
