# This workflow checks the documentation
name: TechDocs

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  publish-docs:
    name: Build and publish docs
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        site:
          - directory: ./
    container:
      image: spotify/techdocs:v1.2.6
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Check mkdocs
        run: mkdocs --verbose build --clean
        working-directory: ${{ matrix.site.directory }}
