# This workflow checks the documentation
name: TechDocs

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  publish-docs:
    name: Build and publish docs
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        site:
          - directory: ./
    container:
      image: spotify/techdocs:v1.2.8
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Check mkdocs
        run: mkdocs --verbose build --clean
        working-directory: ${{ matrix.site.directory }}
